In [10]:
#importando as bibliotecas#
import pandas as pd

In [46]:
#leitura dos atributos comuns às duas bases#

with open('attributes.txt', 'r') as atributos:
    atributos.read()

dfa = pd.read_csv('attributes.txt')
dfa.rename(columns={'# Attributes for both netflix_titles.csv and amazon_prime_titles.csv datasets:': 'Atributos em comum para os datasets netflix_titles.csv e amazon_prime_titles.csv'}, inplace=True)
dfa

  Atributos em comum para os datasets netflix_titles.csv e amazon_prime_titles.csv
0    1 show_id - Unique ID for every Movie / Tv Show
1           2 type - Identifier - A Movie or TV Show
2             3 title - Title of the Movie / Tv Show
3                 4 director - Director of the Movie
4       5 cast - Actors involved in the movie / show
5  6 country - Country where the movie / show was...
6  7 data_added - Date it was added on Netflix or...
7  8 release_year - Actual Release year of the mo...
8          9 rating - TV Rating of the movie / show
9  10 duration - Total Duration - in minutes or n...

In [132]:
#leitura das bases amazon e netflix#

dfamazon = pd.read_csv('amazon_prime_titles.csv')
dfamazon.insert(2, 'Empresa','Amazon')
dfnetflix = pd.read_csv('netflix_titles.csv')
dfnetflix.insert(2, 'Empresa','Netflix')

#conferencia do tipo de dados das fontes

'''dfamazon.dtypes
dfnetflix.dtypes'''

#concatenando as bases, definindo chave para identificação, renomeando os campos#

geral = pd.concat([dfamazon, dfnetflix], ignore_index= True)

geral['id'] = geral['Empresa'] + geral['show_id']

geral.rename(columns={'show_id':'id_original','type': 'Tipo', 'title': 'Titulo', 'director': 'Diretor', 'cast': 'Elenco', 'country': 'País', 'date_added': 'Data_Adicao', 'release_year': 'Lançamento', 'rating': 'Classificacao', 'duration': 'Duracao', 'listed_in': 'Genero', 'description': 'Descricao'}, inplace= True)
geral.head(2)

,id_original,Tipo,Empresa,Titulo,Diretor,Elenco,País,Data_Adicao,Lançamento,Classificacao,Duracao,Genero,Descricao,id
0,s1,Movie,Amazon,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazons1
1,s2,Movie,Amazon,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazons2

In [ ]:
#análise exploratória dos dados#